
::selection {
  background: #EB0A1E;
  color: white;
}

#App {

}

#App__upper-section {
  display: flex;
  height: 95vh;
  width:100vw;
  top:0;
}

#App__left-section {
  overflow: hidden;
  width:25vw;
  background-color: #282a36;
  border-right: 2px solid #EB0A1E;
}

#App__right-section {
  overflow-y: scroll;
  overflow-x: hidden;
  width:75vw;
  color:#494e52;
}



#App__lower-section {
  display: flex;
  bottom:0;
  border-top: 2px solid #EB0A1E;
  background-color: #282a36;
  /* background-color: #111111; */
  color:white;
}